[Unit]
Description=My Launcher Service

[Service]
Type=simple
ExecStart=/usr/bin/atualiza2.sh

[Install]
WantedBy=multi-user.target

#Service de autoboot
#Este arquivo deve ser colocado em /lib/systemd/atualiza.service
#Em seguida deve-se ativa-lo com:
# $ln -s /lib/systemd/atualiza.service /etc/system/system/atualiza.service
# $sudo systemctl daemon-reload
# $sudo systemctl enable /lib/systemd/atualiza.service
# $sudo systemctl start atualiza.service
