#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=/usr/bin/atualiza.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enable=true
Name=Autochromium
Comment=Autochromium_autostart
