[Unit]
Description=RAIS Service
After=multi-user.target

[Service]
Type=simple
User=debian
EnvironmentFile=/usr/bin/env
ExecStart=/home/debian/Desktop/Project_display/launcher_rais.sh
ExecStop=/home/debian/Desktop/Project_display/stop_service.sh

[Install]
WantedBy=multi-user.target

#Service de autoboot
#Este arquivo deve ser colocado em /lib/systemd/launcher.service
#Em seguida deve-se ativa-lo com:
# $sudo systemctl daemon-reload
# $sudo systemctl enable /lib/systemd/launcher.service
# $sudo systemctl start launcher.service
